.container {
    position: relative;
    left: 50px;
}

.title {
    font-size: 64px;
    display: inline-block;
}

.subline {
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
    margin-left: 25px;
}
